body{
  background-image: url("backgroundpic.png");
  width: 50%;
  margin: auto;
  padding: 10px;
  font-family: helvetica;

}

label {
  display: inline-block;
  width: 100px;
  text-align: left;
  font-family: inter;

}

select, button{
  height: 20px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #A0A0A0;
}